{% extends "layout_base.html" %}
{% block header %}
    <h2>Add Event to {{ calendar_name }} calendar</h2>
{% endblock %}
{% block body %}
    <form method="post">
        {% for field in form %}
            <div class="form-group">
                {% if field.label.text and not (field.type == "HiddenField" or field.type == "SubmitField") %}
                    <label for="{{ field.name }}">{{ field.label.text }}</label>
                {% endif %}
                {% if field.type not 'SubmitField' %}
                    {{ field(class_="form-control") }}
                {% else %}
                    {{ field(class_="btn btn-default") }}
                {% endif %}
            </div>
        {% endfor %}
{% endblock %}