{% extends base_template or "layout_base.html" %}
{% block header %}
	<div>
		<h2>Header</h2>
	</div>
{% endblock %}
{% block body %}
	<form method="GET" action="/submit"> <!--https://app.cronofy.com/oauth/authorize?response_type=code">-->
		{% for field in form %}
			{% if not field.type == 'HiddenField' %}
				<div class="form-group">
					<label>{{ field.label.text }}</label>
					       {{ field(class_='form-control') }}
				</div>
			{% else %}
				{{ field() }}
			{% endif %}
		{% endfor %}
	</form>
{% endblock %}
{% block footer %}
	<div>
		<h6>
			footer <sup>.ltd</sup>
		</h6>
	</div>
{% endblock %}
