{% extends 'layout_base.html' %} 
{% macro render_calendars_by_provider(calendars_by_profile) %}
    {% set cals = {} %}
    {% set profiles = calendars_by_profile.keys() %}                              
    {% for p in profiles %}
        <p>{{ p }}</p>
        <ul>
            {% for cal in calendars_by_profile[p] %}
                <li>{{ cal['calendar_name'] }}</li>
            {% endfor %}
        </ul>
    {% endfor %}            
{% endmacro %}
{% block body %}
    <h2>Calendars</h2>
    <pre>>{{ calendars | pprint }}</pre>
    <h2>Calendars by profile</h2>
    <pre>{{ calendars_by_profile | pprint }}</pre>
    <h2>Calendars by provider</h2>
    <pre>{{ calendars_by_provider | pprint }}</pre> 
    {{ render_calendars_by_provider(calendars_by_provider) }}
{% endblock body %}